@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    --upfront: #2caed0;
    --upfront-hover: #239bb9;
    --upfront-dark: #1b7088;
    --upfront-light: #e1f6fa;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;

        --upfront: #2caed0;
        --upfront-hover: #239bb9;
        --upfront-dark: #1b7088;
        --upfront-light: #e1f6fa;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
